*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul, ol{
    list-style: none;
}
.container{
    width: 632px;
    
}
.header{
    padding: 40px;
    padding-bottom: 127px;
    display: flex;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_list{
    display: flex;
    align-items: center;
}
.header_item{
    margin-left: 68px;
}
.header_link{
    color: #373737;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_hero{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 148px;
    margin-right: 108px;
}
.main_title{
    color: #2F2F2F;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
    padding-bottom: 15px;   
}
.main_title_word{
    color: #717CFF;
    font-family: Roboto;
    font-size: 56px;
    font-style: norm    al;
    font-weight: 900;
    line-height: normal;
    width: 632px;
}
.main_text{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    padding-bottom: 42px;
    width: 632px;
}
.main_btn{
    width: 191px;
    height: 64px;
    border-radius: 11px;
    background-color: #717CFF;
    justify-content: center;
    
}
.main_btn_text{
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 12px 19px 12px 34px;    
}
.main_img{
    margin-right: 40px;
    width: 470px;
}

.section1{
    width: 1440px;
    background-color: #FAFAFA;
    justify-content: space-between;
}
.section1_title{
    color: #373737;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;   
    opacity: 0.73; 
    padding-bottom: 94px;
    padding-top: 55px;
}
.section1_logos{
    justify-content: center;
    align-items: center;
    margin-left: 128px;
    padding-bottom: 113px;
}
.section1_logo{
    margin-right: 74px;
    width: 225px;
}
.pages{
    justify-content: center;
    padding-left: 667px;
    padding-bottom: 57px;
}